* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* header */
header {
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-logo {
    width: 250px;
}

header p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-align: center;
}

/* navbar */
nav {
    margin: 60px auto 0;
    width: 80%;
    background-color: #225343;
    color: white;
    border-radius: 30px;
    padding: 25px 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

nav ul {
    list-style: none;

    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

nav a {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;

    transition: 0.5s;
}

nav a:hover {
    color: #ab8f67;
    text-decoration: underline;
}

/* Course section */
.courses {
    margin: 100px 0 0;
}

.courses .courses-head {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.courses .courses-head img {
    width: 100%;
}