* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

:root {
    --bg-color: #0E1A1A;
    --ele-bg-color: #1F2E2E;
    --primary-color: #E6E1D5;
    --secondary-color: #B8B3A7;
    --accent-color: #3EB489;
    --highlight-color: #56CBAF;
    --borders-color: #2E3E3E;
}

body {
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4 {
    color: var(--primary-color);
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: clamp(2.2rem, 5vw, 3.5rem);
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: clamp(1.8rem, 4vw, 2.8rem);
    font-weight: 600;
}

h3 {
    font-size: clamp(1.5rem, 3vw, 2.2rem);
    font-weight: 600;
}

h4 {
    font-size: clamp(1.25rem, 2.5vw, 1.6rem);
    font-weight: 600;
}

p {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 400;
    line-height: 1.7;
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
}

a {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 500;
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Inter', sans-serif;

    transition: 1s;
}

a:hover {
    color: var(--highlight-color);
    text-decoration: underline;
}

button {
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 500;
    background-color: var(--accent-color);
    color: var(--ele-bg-color);
    border: none;
    padding: 10px 15px;
    border-radius: 9999px;
    font-family: 'Inter', sans-serif;

    transition: 0.5s;

}

button:hover {
    background-color: var(--highlight-color);
}

/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 65%;
    margin: 0 auto;
}

.logo {
    width: 250px;
    height: auto;
    aspect-ratio: 3/2;
}

.main-heading {
    margin: 0;
}

.tagline {
    margin: 0;
    font-family: 'Fira Code', monospace;
}

nav {
    width: 100%;
    margin-top: 2rem;
    border-radius: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

nav ul {
    background-color: var(--ele-bg-color);
    list-style: none;
    margin: 0;

    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    padding: 20px;
    border-radius: 30px;
}

/* main */
main {
    width: 65%;
    margin: auto;
}

/* hero */
.hero {
    width: 100%;
    overflow: hidden;
    margin: 3rem auto 0;
    border-radius: 30px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.hero video {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    border-radius: 30px;
    display: block;
}

/* course */
.course-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 3rem auto 0;
}

.sub-para,
.sub-heading {
    text-align: center;
}

.course-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin-top: 1.3rem;
}

.course {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50.333% - 20px);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    background-color: var(--ele-bg-color);
    border-radius: 30px;
    border: 3px solid var(--borders-color);
    overflow: hidden;
    max-width: calc(65.333% - 20px);
}

.course-img {
    width: 100%;
    border-radius: 30px 30px 0 0;
    height: auto;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.course-desc {
    padding: 20px;
}

.course-desc p {
    padding: 10px 0;
}

.course-text span {
    display: block;
}

.course-text span::before {
    content: "✔ ";
    color: var(--accent-color);
    font-size: clamp(1rem, 2vw, 1.2rem);
}

/* footer section */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 100%;
    margin: 5rem auto 20px;
    text-align: center;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    list-style: none;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: white;
}

/* coming-soon */
.coming-soon-section {
    width: 100%;
    margin: 5rem 0 0;
}

.coming-soon {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.coming-soon-container {
    width: 90%;
    height: auto;
    overflow: hidden;
    border-radius: 30px;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.coming-soon-container img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 30px;
    aspect-ratio: 3 / 2;
}

/* primary card */
.card-primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

    border: 3px solid var(--borders-color);

    width: 90%;
    flex: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    background-color: var(--ele-bg-color);
    border-radius: 30px;
    padding: 4rem 2rem;
}


/* secondary card */
.card-secondary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;


    width: 90%;
    flex: 1;

    background-color: transparent;
    border-radius: 30px;
    padding: 4rem 2rem;
}

/* social button */
.social-btn {
    border-radius: 50%;
    padding: 5px;
    height: 50px;
    width: 50px;
}

/* social-section */
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    margin: 5rem 0 0;
    width: 100%;
}

.social-btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.about-heading {
    margin-top: 2rem;
}

/* content section */
.content-section h2,
.content-section h3,
.content-section h4 {
    margin: 3rem 0 1.5rem;
}

.no-bullet-ul {
    list-style: none;
    padding: 0 2rem 0;
    font-size: clamp(1rem, 2vw, 1.2rem);
    font-weight: 400;
    line-height: 1.7;
    color: var(--secondary-color);
    font-family: 'Inter', sans-serif;
}

@media (max-width: 780px) {

    /* header */
    header {
        width: 95%;
    }

    .logo {
        width: 180px;
    }

    /* main */
    main {
        width: 95%;
    }

    /* course */
    .course-row {
        flex-direction: column;
        gap: 20px;
    }

    .course {
        max-width: calc(85.333% - 20px);
    }

    /* social section */
    .social {
        flex-direction: column;
    }
}