@import "tailwindcss";

/* styles/globals.css */

:root {
  --bg-color: #0e1a1a;
  --ele-bg-color: #1f2e2e;
  --primary-color: #e6e1d5;
  --secondary-color: #b8b3a7;
  --accent-color: #3eb489;
  --highlight-color: #56cbaf;
  --border-color: #2e3e3e;
}

::selection {
  background-color: var(--highlight-color);
  color: var(--bg-color);
}

/* Apply base styles */
body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}
