@import "tailwindcss";

/* styles/globals.css */
:root {
  --bg-color: #0e1a1a;
  --ele-bg-color: #1f2e2e;
  --primary-color: #e6e1d5;
  --secondary-color: #b8b3a7;
  --accent-color: #3eb489;
  --highlight-color: #56cbaf;
  --border-color: #2e3e3e;

  --check-list: "✔️";
}

::selection {
  background-color: var(--highlight-color);
  color: var(--bg-color);
}

/* Apply base styles */
body {
  background-color: var(--bg-color);
  color: var(--primary-color);
}

.myContainer {
  @apply w-full lg:w-[70%] px-4 mx-auto;
}

pre {
  @apply text-base lg:text-lg font-semibold p-4 rounded-lg whitespace-pre overflow-x-auto my-4;
}

section {
  @apply my-10;
}

h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold my-8;
}

h2 {
  @apply text-3xl lg:text-4xl font-bold my-6;
}

h3 {
  @apply text-2xl font-bold my-4;
}

p {
  @apply text-base lg:text-lg my-2;
}

.subP {
  @apply text-base my-0;
}

ul {
  @apply list-inside pl-4 text-base lg:text-lg list-disc;
}

ol {
  @apply list-inside pl-4 text-base lg:text-lg list-decimal;
}

.myList {
  @apply list-none pl-0 text-base lg:text-lg;
}

.myList li span {
  @apply pl-2;
}

/* content area */
.contentArea h1 {
  @apply text-4xl md:text-5xl lg:text-6xl font-bold my-8;
}

.contentArea h2 {
  @apply text-3xl lg:text-4xl font-bold my-8;
}

.contentArea h3 {
  @apply text-2xl font-bold my-6;
}

.contentArea p {
  @apply text-base lg:text-lg/8 my-2;
}

.contentArea a {
  @apply text-base lg:text-lg text-[var(--accent-color)] hover:underline;
}

.contentArea strong {
  @apply bg-[var(--ele-bg-color)] border-2 border-[var(--border-color)] rounded-lg p-1;
}

.contentArea li {
  @apply my-2;
}

@layer base {
  /* all images that come from markdown */
  .prose img {
    @apply block mx-auto max-w-xl w-full h-auto
           bg-[#1f2e2e] bg-[linear-gradient(to_right,rgba(255,255,255,0.1)_1px,transparent_1px),linear-gradient(to_bottom,rgba(255,255,255,0.1)_1px,transparent_1px)] bg-[size:24px_24px] border-2 border-[var(--border-color)] rounded-lg p-4 shadow-md my-6;
  }
}
